<mat-toolbar color="primary">
  <nav>
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/report">Reports</button>
      <button mat-button routerLink="/request">Requests</button>
      <button mat-button [routerLink]="['/logout']">Logout</button>
  </nav>

</mat-toolbar>
<h6>REPORTS</h6>
<br>
<mat-list role="list" *ngFor="let rep of reports | async">
  <mat-list-item role="listitem" (click)="data(rep)">{{rep.location}}</mat-list-item>
</mat-list>