<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </form>
  <button mat-button (click)="login()">Login</button>
