<mat-toolbar color="primary">
  <nav>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/report">Reports</button>
    <button mat-button routerLink="/request">Requests</button>
    <button mat-button [routerLink]="['/logout']">Logout</button>
  </nav>

</mat-toolbar>
